@font-face {
  font-family: 'Nova_Bold';
  src: url('../fonts/Untype-Nova-Grotesk-Expanded-Bold.woff') format('woff');

  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Nova_Regular';
  src:
       url('../fonts/Untype-Nova-Grotesk-Expanded-Regular.woff') format('woff');

  font-weight: 100;
  font-style: normal;
}

.extra-bold{
  font-weight: 800;
}

body{
  font-family: 'Nova_Regular';
}



.video-container {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 79vh;
  }

  .video-container h1{
    z-index: 4;
  }


.my-video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    object-fit: cover; /* Maintain aspect ratio and cover the container */
    user-select: none; /* Disable text selection */
    pointer-events: none; /* Disable mouse/touch interactions */
    /* opacity: 0.7; */

}

.dark-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 40%, rgb(255, 255, 255) 100%);
  background-color: rgba(0, 0, 0, 0.65);
  z-index: 1; /* Ensure it's above the video */

}

.video-container .img {
  position: absolute;
  top: 20%;
  max-width: 550px;
  z-index: 3;
}
.video-container .filiales {
  position: absolute;
  top: 70%;
  z-index: 3;
  left:25%;
  right: 25%;
  
}

.img-1 {
  left: 10%;
}



.img-3 {
  right: 10%;
  color: white;
}
.img-4 {
  align-self: center;
}
.heroText {
  right: 10%;
  color: white;
}

  .overlay-top::before,
.overlay-bottom::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 15px;
  left: 0;
  z-index: 1;
}

.overlay-top::before {
  top: -1px;
  background: url(../img/overlay-top.png);
}

.overlay-bottom::after {
  bottom: -1px;
  background: url(../img/overlay-bottom.png);
}

#navbar-transparente {
  background-color: transparent;
  transition: background-color 0.3s ease;
}

/* Estado opaco */
#navbar-transparente.navbar-opaco {
  background-color: white;
}
